{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block main %}
    <div style="text-align:center">
        {% include 'easyAdmin/tutorial/image.html.twig' with { id: entity.id } %}
    </div>
    {% block entity_form %}
        {{ form(form) }}
    {% endblock entity_form %}
    {% block delete_form %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
